@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #393a36;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;

}

h3{
  font-size: 1.0rem;

}

div, p{
  font-size: 1.1rem;
  font-weight: 100;
}

.slick-slide > div {
  margin: 0 10px;
  padding: 10px 0;
}

.slick-next {
  right: -10px !important;
}

.slick-prev:before, .slick-next:before {
  color: #18181b !important;
}




