@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
  font-size: 2rem;
  color:#18181b;
}

h2{
  font-size: 1.5rem;
  color:#18181b;
}

h3{
  font-size: 1.0rem;
  color:#18181b;
}



div, p{
  font-size: 1.1rem;
}